/*-----------------------------FONT LINK------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


/*-----------------------------VARIABLES ------------------------------------------*/
:root{
    --body-color: rgb(27, 27, 27);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(255, 255, 255) ;
    --tex-color-third: rgb(30, 159, 171);

    --first-color: rgb(45, 26, 138);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.438);
}

/*-----------------------------BASE ------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Madimi', sans-serif;
}

body{
    background: var(--body-color);
}
.Container{
    width: 100%;
    /*max-width: 1920px; /* Se agrega un ancho máximo para evitar que el contenido se extienda demasiado en pantallas grandes */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

/*----------------------------- SMOOTH SCROLL ------------------------------------------*/
html{
    scroll-behavior: smooth;
}

/*----------------------------- CHANGE SCROLL BAR DESIGN ------------------------------------------*/
::-webkit-scrollbar{
   width: 10px; 
   border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: gray;
}
::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: black;
}

/*----------------------------- GLOBAL BUTTON DESIGN ------------------------------------------*/
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}

/*----------------------------- GLOBAL ICONS DESIGN ------------------------------------------*/
i{
    font-size: 18px;
}
#hamburgerIcon{
    font-size: 35px;
    color: #efefef;
}
/*----------------------------- NAVIGATION BAR ------------------------------------------*/
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: rgba(255, 255, 255, 0); /*porbodycolor*/
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
    position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--tex-color-third);
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}
.nav-menu, .nav_menu_list{
    display: flex;
}

.nav-name, .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;

}
.nav-menu-btn{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--first-color);
    transition: .3s;
}
.active-link::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--first-color);
    border-radius: 50%;
}
/*----------------------------- WRAPPER DESING ------------------------------------------*/
.wrapper{
    padding-inline: 10vw;
    height: 150vh;
}

/*----------------------------- FEATURED BOX ------------------------------------------*/
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;

}
/*----------------------------- FEATURED TEXT BOX ------------------------------------------*/

.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 100%; /* Se ajusta para ocupar todo el ancho disponible */
    
}
.featured-text, p{
    color: white;
}
.featured-text-card span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 19px;
    border-radius: 5px;
}
.featured-name{
    font-size: 60px;
    font-weight: 700;
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
    color: var(--tex-color-third);
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--color-white);
}
.featured-text-btn{
    display: flex;
    gap: 30px;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}

.social_icons{
    display: flex;
    margin-top: 4rem;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(97, 96, 96, 0.9);
    cursor: pointer;
}
.icon:hover{
    color: var(--first-color);
}
/*ICON*/
ul {
    list-style: none;
}

li::after {
    content: "";
    display: block;
    height: 0px;
    transition: height 0.3s ease-in-out;
    pointer-events: none;
}
.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}
.example-2 .icon-content .tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease; 
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    bottom: -40px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #787878;
    box-shadow: 0px 2px 5px 0px rgba(97, 96, 96, 0.9);
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgba(97, 96, 96, 0.9);
}

.example-2 .icon-content a i {
    position: relative;
    z-index: 1;
    font-size: 25px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0077B5;
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #C4302B;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
    background-color: #000000;
}
  
/*----------------------------- FEATURED IMAGE BOX ------------------------------------------*/
.featured-image{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    width: 100%;
}
.image{
    margin: auto 0;
    width: 100%;
    max-width: 390px; /* Se establece un ancho máximo para evitar que la imagen se desborde de su contenedor */
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}
.scroll-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--body-color);
    background: var(--color-white);
    border-radius: 50px;
    box-shadow: 0 5px 50px 0 rgba(255, 255, 255, 0.274);
}
.scroll-btn i{
    font-size: 20px;
}
.scroll-btn p{
    color: var(--body-color);
}
/*----------------------------- MAIN BOX ------------------------------------------*/

.section{
    padding-block: 9.5em;
}
.row{
    display: flex;
    justify-content:space-between;
    width: 100%;
    gap: 5rem;
}
.col{
    display: flex;
    width: 100%;
}

/*----------------------------- REUSABLE CSS ------------------------------------------*/
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-size: 35px;
    font-weight: 600;
    color: var(--color-white);
}
.top-header span{
    color: white;
}
h3{
    font-size: 25px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 3rem;
}
/*----------------------------- ABOUT INFO ------------------------------------------*/
.about-info p{
    color: var(--body-color);
}
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: rgba(27, 27, 27, 0.281);
    box-shadow: 1px 8px 10px 2px rgba(59, 59, 59, 0.274);
    border-radius: 40px;
}
.about-info p{/*
    position:relative;
    text-align: center;*/
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
    font-size: 16.5px;
    color: white;
}
.about-btn button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}
.about-btn:hover{
    color: var(--first-color-hover);
}
/*----------------------------- ABOUT INFO / SKILLS BOX ------------------------------------------*/
.images {
    margin: 0 auto;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.image-container {
    position: relative;
    width: 85px;
    height: 85px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.images img{
    max-width: 85px; /* Se establece un ancho máximo para evitar que la imagen se desborde de su contenedor */
    max-height: 85px;
    padding: 5px; /* Agregar relleno para las imágenes más pequeñas */
    object-fit: cover;
    box-sizing:border-box; /* Incluir el relleno en el cálculo del tamaño total */
}
.image-container::before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0; /* Inicialmente, el color no está visible */
    background: rgba(30, 159, 171, 0.651); /* Color rojo semi-transparente */
    transition: height 0.4s ease; /* Transición para la altura (bottom to top) */
    border-radius: 15px;
    color: white;
    font-size: 16px;
    opacity: 0;
    z-index: 2;
    line-height: 85px; /* Igual a la altura del contenedor */
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
[data-title]::before {
    content: attr(data-title);
    white-space: pre; /* Permite que los espacios en blanco y los saltos de línea se respeten */

}
.image-container:hover::before {
    height: 100%; /* Al hacer hover, la altura aumenta a 100% (bottom to top) */
    opacity: 1;
}

/*----------------------------- SECTION PROJECT ------------------------------------------*/
.project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}
.project-container2{
    margin-top: 5em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: rgba(27, 27, 27, 0.281);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px rgba(59, 59, 59, 0.274);
    overflow: hidden;
}
.project-box>i{
    font-size: 50px;
    color: var(--second-color);
    margin-bottom: 25px;
}
.project-box label{
    font-size: 16.5px;
    color: var(--color-white);
}
/*-------------------------WHIT IMAGE --------------------------------------------------------*/
.project-box#project1::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background-image: url('../Images/LogoXxu.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box#project2::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background-image: url('../Images/LogoXxu.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box#project3::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background-image: url('../Images/LogoXxu.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box#project4::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background-image: url('../Images/LogoXxu.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box#project5::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background-image: url('../Images/LogoXxu.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box#project6::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background-image: url('../Images/LogoXxu.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
/*-------------------------------------WHIT ONLY COLOR --------------------------*/
/*
.project-box::after, .contact-info::after{
    content: " ";
    position: absolute;
    bottom: -100%;
    background: red;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}*/
/*----------------------------------WHIT ONLY COLOR ----------------------------------------------*/
/*.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after {
    bottom: 0;
}*/
/*---------------------------------------WHIT IMAGE ------------------------------------------------*/

.project-box#project1:hover.project-box#project1::after,
.project-box#project2:hover.project-box#project2::after,
.project-box#project3:hover.project-box#project3::after,
.project-box#project4:hover.project-box#project4::after,
.project-box#project5:hover.project-box#project5::after,
.project-box#project6:hover.project-box#project6::after {
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label{
    color: var(--color-white);
    z-index: 2;
    filter: blur(1px);

}
/*----------------------------------CONTACT BOX------------------------------------------*/
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 315px;
    background: var(--second-color);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px rgba(116, 116, 116, 0.274);
    overflow: hidden;
    cursor: pointer;
}
.contact-info>h2{
    color: var(--color-white);
    margin-bottom: 30px;
}
.contact-info p{
    display: flex;
    align-items: center;
    gap: 18px;
    color: var(--color-white);
    margin-block: 15px;
}
.contact-info p>i{
    font-size: 20px;
}
.contact-info::after{
    color: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i{
    color: black;
    z-index: 2;
}
/*----------------------------------CONTACT FORM------------------------------------------*/
.form-control{
    display: flex;
    flex-direction: column;
    gap: 10PX;
    width: 100%;
}
.form_input{
    display: flex;
    gap: 10px;
    width: 100%;
}
.form_input ::placeholder{
    color: white;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 15px;
    padding: 20PX;
    outline: none;
    color: white;
}
textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 15px;
    padding: 15px 20px;
    outline: none;
    resize: none;
    color: white;
}
textarea::placeholder{
    color: white;
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: var(--color-white);

}
.form-button>.btn:hover{
    background: #00b5e7;
}
.form-button i {
    font-size: 18px;
    transform: rotate(-45deg);
}

/*----------------------------- FOOTER BOX ------------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: var(--body-color);
    padding-block: 40px 60px;
}
.top-footer p{
    font-size: 25px;
    font-weight: 600;
}
.middle-footer .footer_menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    margin-inline: 20px;
}
.footer-social-icons{
    display: flex;
    gap: 30px;
    color: var(--color-white);
}
.bottom-footer{
    font-size: 14px;
}

/*----------------------------- MEDIA QUERY == 1024PX / RESPONSIVE ------------------------------------------*/
@media only screen and (min-width: 1024px) and (max-width: 1370px){

    .featured-text{
        padding: 0;
    }
    .image, .image img{
        max-width: 100%;
        height: auto;

    }
    .about-info{
        margin-left: 1em;
        margin-right: 1em;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .contact-info p{
        font-size: 15px;
    }
}

/*----------------------------- MEDIA QUERY == 900PX / RESPONSIVE ------------------------------------------*/
@media only screen and (min-width: 900px) and (max-width: 1023px) {
    .Container{
        width: 94.6%;
    }
    /* Ajustes para la navegación */
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 60px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(10, 10, 10, 0.521);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 100vh;
        transition: .3s;
        border: none;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* Ajustes para la sección de características destacadas */
    .featured-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .featured-text {
        height: auto;
        padding: 0;
        width: 90%;
        order: 2;
        text-align: center;
    }
    .scroll-btn{
        z-index: 2;
    }

    .featured-text-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .social_icons {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 100px;
        width: 90%;
        text-align: center;
        margin-top: 11rem;
    }

    .image,
    .image img {
        max-width: 350x;
        height: 350px;
    }

    /* Ajustes para otros elementos */
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info {
        width: 90%;
    }

    .skills-box {
        margin-left: 2em;
        margin-right: 2em;
        width: 90%;
    }

    .project-container {
        justify-content: center;
        gap: 50px;
    }

    .project-box,
    .contact-info {
        width: 90%;
        margin: 0 auto;
    }

    .form-control {
        margin-right: 0;
        width: 90%;
        margin: 0 auto;
    }
}
/*----------------------------- MEDIA QUERY == 540PX / RESPONSIVE ------------------------------------------*/
@media only screen and (min-width: 300PX) and (max-width: 600PX){
    .Container{
        width: 80%;
    }
    /* Ajustes para la navegación */
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 60px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(10, 10, 10, 0.521);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 100vh;
        transition: .3s;
        border: none;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 125%; /*PONER MI CARTA A LO ANCHO DE PANTALLA*/
    }

    .featured-text {
        height: auto;
        padding: 0;
        width: 90%;
        order: 2;
        text-align: center;
    }
    .scroll-btn{
        z-index: 2;
    }

    .featured-text-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .social_icons {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 100px;
        width: 90%;
        text-align: center;
        margin-top: 11rem;
    }

    .image,
    .image img {
        max-width: 350x;
        height: 350px;
    }
    .featured-text-card span{

        font-size: 15px;
    }
    .featured-name{
        font-size: 35px;
        font-weight: 700;
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        width: 95%;
    }

    .col {
        flex-direction: row;
        display: flex;
        justify-content: center;
        width: 95%;
    }
    #about{
        width: 117%; /*PONER MI CARTA A LO ANCHO DE PANTALLA*/
    }
    .about-info {
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        justify-items: center;
        text-align:justify; /* Añadido para centrar el texto */
    }
    .about-btn {
        margin-top: 3.5em; /* Ajusta según sea necesario */
    }
    .about-btn button{
        display: block; /* Asegura que el botón ocupe toda la línea */
        margin: 0 auto; /* Centra el botón horizontalmente */
    }

    .skills-box {
        width: 85%;
    }
    .col-Skill{
        width: 100;
    }

    #projects{
        width: 120%; /*PONER MI CARTA A LO ANCHO DE PANTALLA*/
    }
    #project1,#project2,#project3{
        margin: 0;
    }
    .project-container {
        justify-content: center;
        gap: 50px;
        margin-left: 5px;
    }
    .project-box,
    .contact-info {
        width: 90%;
        margin: 0 ;
    }
    #contact{
        width: 117%; /*PONER MI CARTA A LO ANCHO DE PANTALLA*/
    }
    
    /*
    .project-box{
        width: 100%;
    }
    .form_input{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }*/
}
